.loader {
  border: 16px solid $color-lightmode-dark-gray; /* Szary kolor tła */
  border-top: 16px solid $color-loader; /* Pomarańczowy kolor kółka */
  border-radius: 50%; /* Okrągły kształt */
  width: 120px; /* Szerokość */
  height: 120px; /* Wysokość */
  animation: spin 0.3s linear infinite; /* Animacja obrotu */
  margin: auto; /* Wyśrodkowanie */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}
